<div class="columns p-centered mb-2 pb-2">
    <div class="column col-10 col-md-12 p-centered">
        <div class="columns">
            <div class="column col-5 col-sm-12">
                <img class="w-75 d-block m-auto pt-2 mt-2" id="" src="assets/images/large.png" alt="">
            </div>
            <div class="column col-sm-12">
                <h1 id="name" class="h3"></h1>
                <small id="ref"></small>
                <div class="h3">A partir de <span id="price"></span><small> € TTC </small></div>
                <form id="configclo">
                    <div>
                        <input type="text" id="embout" data-ref="emb01" hidden>
                        <input type="text" id="lame" data-ref="lam03" hidden>
                        <input type="text" id="raid" data-ref="raid" hidden>

                    </div>
                    <div class="form-group ">
                        <label class="form-label">Section</label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="section" checked>
                            <i class="form-icon"></i> Droit
                        </label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="section">
                            <i class="form-icon"></i> Angle
                        </label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="section">
                            <i class="form-icon"></i> Courbe
                        </label>
                        <label class="form-radio form-inline">
                            <input type="radio" name="section">
                            <i class="form-icon"></i> Redan
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Fixation</label>
                        <label class="form-radio">
                            <input type="radio" name="fixe" id="platine" checked data-ref="pl01">
                            <i class="form-icon"></i> Platine
                        </label>
                        <label class="form-radio">
                            <input type="radio" name="fixe" id="scelle">
                            <i class="form-icon"></i> Scellé
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="longueur">Longueur</label>
                        <input class="form-input" type="text" id="longueur" placeholder="Longueur de la cloture"
                               value="1" min="1">
                    </div>

                    <select id="hauteur" class="form-control">
                        <option class="optProduct" value="">Selectionnez une hauteur</option>

                        <option class="optProduct" value="0.20" id="0.20" data-ref="pot06" selected>0.20 metre</option>

                        <option class="optProduct" value="0.40" id="0.40" data-ref="pot06">0.40 metre</option>

                        <option class="optProduct" value="0.60" id="0.60" data-ref="pot06">0.60 metre</option>

                        <option class="optProduct" value="0.80" id="0.80" data-ref="pot125">0.80 metre</option>

                        <option class="optProduct" value="1.00" id="1.00" data-ref="pot125">1.00 metre</option>

                        <option class="optProduct" value="1.20" id="1.20" data-ref="pot125">1.20 metre</option>

                        <option class="optProduct" value="1.40" id="1.40" data-ref="pot185">1.40 metre</option>

                        <option class="optProduct" value="1.60" id="1.60" data-ref="pot185">1.60 metre</option>

                        <option class="optProduct" value="1.80" id="1.80" data-ref="pot185">1.80 metre</option>

                    </select>
                    <div>
                        <div class="btn btn-primary mt-2 pt-2" id="btnadd">
                            <svg class="feather ml-2 mr-1">
                                <use xlink:href="assets/svg/feather-sprite.svg#shopping-cart"/>
                            </svg>
                            <span class="ml-2 mr-2">Ajouter au panier</span></div>
                    </div>
                </form>

                <div id="resultat"></div>
                <div class="divider mt-2 mb-2 pt-2 pb-2"></div>

            </div>
        </div>
    </div>
</div>

