<div class="columns productsCategory">
    <div class="column col-12  mt-2 mb-2 pt-2 pb-2">
        <div class="columns">
            <div class="column col-10 p-centered mb-2 pb-2">
                <h1 class="h3">Nos articles</h1>
                <div class="desc">Retrouvez l'intégralité de nos produits au détail</div>
            </div>
        </div>
    </div>

    <div class="column col-10 m-auto col-lg-12">
        <div data-cat="quincaillerie" data-count="-1" class="categoriesElement columns m-2 justify-around"></div>
    </div>
</div>