$mycolor: #333333;
$red: #EE0000;
$none: none;
$btopcolor: 0.05rem solid $mycolor;
//@media screen and (min-width: 1310px) {
//  .mobile-menu{
//    visibility: hidden;
//  }
//}
//@media screen and (min-width: 760px) and (max-width: 760px) {
//
//}

@font-face {
  font-family: "questrial";
  src: url('assets/font/Questrial-Regular.ttf');
}
//style menu
.mymenu {
  letter-spacing: 0.5px;
  font-size: 20px;
}
.navbar {
  background: white;
}

//style des liens du menu
a {
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: transparent;
  color: $red;
}
.link {
  font-weight: 200;
  text-decoration: none !important;
  border: 0.05rem solid transparent;
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;

}
.link:hover {
  color: $red;
}
.link:after {
  transition: width 0.4s ease, background-color 0.4s ease, left 0.4s ease;
}
.link:hover:after {
  width: 100%;
  left: 0;
  background: $red;
}

//style radio scellement
.scellement {
  display: none;
}

//style footer
.footer {
  background: white !important;
  box-shadow: 0 0 22px rgba(0, 0, 0, .1);
}

.footerbottom {
  background: #ffffff;
  color: #333333;
}

//style divers
body {
  color: $mycolor;
  font-family: "questrial";
}
html {
  background: #E9E9E9;
}
.mygreybox {
  box-shadow: 0 0 22px rgba(0, 0, 0, .1);
  background: white;
  border-radius: 0.1rem;
}
.unstyled {
  list-style: $none;
}

//divider
.divider {
  border-top: $btopcolor;
}
.divider-vert {
  &::before {
    border-left: $btopcolor;
  }
}

//style bouton en savoir plus et ajout au panier
.btn-moreinfo {
  background: #EE0000;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  user-select: none;
  white-space: nowrap;

  &:focus,
  &:hover,
  &:active,
  &:visited,
  &.active {
    background: #bb0000;
    color: white;
    border: 1px solid #bb0000;
  }
}
//couleur cloture
#couleur .form-radio .label-name {
  width: 45px;
  height: 45px;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border: solid 1px #000;

}
#couleur .form-radio{
padding: 0;
}
.form-radio .form-icon {
display: none;
  &:checked{
    #couleur .form-radio .label-name {
      border: solid 2px #ff2400;
    }
  }
}
//#couleur .form-radio .label-name .ralSelect {
//  border: solid 2px #ff2400;
//}

//Card
.my-card {
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-left: 1px solid rgba(0, 0, 0, .05);
}

//lien cloture
.linkclot {
  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    div:not(.btn-moreinfo) {
      text-decoration: underline;
    }
  }
}

//lien produit
.link-prod {
  color: $mycolor;

  &:focus,
  &:active,
  &:visited,
  &.active {
    color: $mycolor;
  }
  &:hover {
    text-decoration: underline;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    color: $mycolor;
  }
}

//formulaire
.form-input {
  padding: 0 0.4rem;

  &:placeholder-shown,
  &::placeholder {
    color: #333333;
  }
}
.textarea {
  resize: $none;
}
#mapid {
  height: 382px;
}
