.ral-7016{
  background: #383E42;
}
.ral-7006{
  background: #766A5E;
}
.ral-9010{
  background: #F1ECE1;
}

.ral-3004{
  background: #6B1C23;
}
.ral-6005{
  background:#114232;
}
.ral-7039{
  background: #6b665e;
}
.ral-8011{
  background: #5a3826;
}
.ral-9005{
  background: 	#0e0e10;
}
.ral-9006{
  background: #A1A1A0;
}



.ral-5003{
  background: #1f3855;
}
.ral-7004{
  background: #9B9B9B;
}