<div class="columns p-centered productElem mb-2 pb-2">
    <div class="column col-10 col-md-12 p-centered">
        <div class="columns">
            <div class="column col-5 col-sm-12">
                <img class="w-75 d-block m-auto pt-2 mt-2" id="productImg" src="" alt="">
            </div>
            <div class="column col-sm-12">
                <h1 id="name" class="h3"></h1>
                <small id="ref"></small>
                <div class="h3"><span id="price"></span><small> € TTC </small></div>
                <div id="qty" class="mb-2 pb-2"><span class="h4">Quantité</span><input class="ml-2" id="qtyInput" type="number" value="1" min="1"></div>
                <div class="divider mt-2 mb-2 pt-2 pb-2"></div>
                <div id="options" class="pt-1 pb-1">
                </div>
                <div id="l" class="pt-1 pb-1"></div>
                <div class="columns col-12">
                    <div class="btn-moreinfo mt-2 pt-2 col-auto col-sm-8 m-auto" id="addCart"><svg class="feather ml-2 mr-1"><use xlink:href="assets/images/feather-sprite.svg#shopping-cart"/></svg> <span class="ml-2 mr-2">Ajouter au panier</span></div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="productElem mt-2 pt-2">

    <div class="columns p-centered mt-2 pt-2 mb-2">
        <div id="productDesc" class="column col-10 col-md-12 p-centered mt-2 pb-2 mb-2" hidden>
            <div class="divider mt-2 mb-2 pt-2 pb-2"></div>
            <h2 >Description</h2>
            <div class="desc"></div>
        </div>

        <div id="productTech" class="column col-10 col-md-12 p-centered mt-2 pt-2 mb-2" hidden>
            <div class="divider mt-2 mb-2 pt-2 pb-2"></div>
            <h2 >Infos Techniques</h2>
            <table class="table">
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>
