<div class="cart">
    <table class="table">
        <thead>
        <tr>
            <th class="refLabel">Reference</th>
            <th>Produit</th>
            <th class="priceLabel text-center" >Prix à l'unité TTC</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="text-right">
        <div>Total Panier : <span class="value cartPrice"></span> €</div>
    </div>
    <div class="modal-footer mt-2 p-2">
        <a class="purchaseButton" href="#commander"><button class="btn">Passer commande</button></a>
    </div>
</div>

