<h1 class="my-2 py-2">Besoin d'aide ?</h1>
<div class="h5 my-4">Nos professionnels vous fournisse une notice complète d'installation !</div>
<div class="columns col-10 col-mx-auto col-md-auto">
    <div class="column col-mx-auto col-md-auto"><img src="assets/images/aucune-image.png"></div>
    <div class="column col-mx-auto col-md-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper leo venenatis diam volutpat tempus.
        Nullam feugiat, leo at sagittis auctor, leo est dapibus risus, vitae ultricies sapien mauris ut turpis.</br>
        Vestibulum
        eu metus ornare, suscipit leo eget, sodales augue. Praesent rutrum accumsan pulvinar. Ut mattis nec ante sit
        amet
        consequat.</br> Curabitur quis rhoncus magna, in venenatis ipsum. Morbi efficitur velit non rutrum rhoncus. Nunc quis
        ante ligula. Praesent eget tempor lorem.

        Sed accumsan nulla at sem iaculis, ac auctor mi vehicula.</br> Curabitur urna turpis, posuere non purus non, finibus
        tristique quam. Aenean eu risus eget tortor consectetur molestie vitae eget est. In hac habitasse platea
        dictumst.</br>
        Maecenas cursus sapien ac ex egestas vehicula. In a augue orci. Duis a nibh dui. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse quis justo sit amet erat sodales mattis.
        Fusce in porttitor erat, nec pulvinar nisl. </br>Duis sed eros augue. Fusce eget auctor dui, quis pulvinar nibh.
        Mauris
        ut quam massa. Vivamus posuere pulvinar lacus, at placerat turpis pretium vitae.

    </div>
</div>
