<div class="col-11 m-auto">
    <h1>Conditions Générales de Ventes</h1>

    <h2>Généralités</h2>

    <h3>1. APPLICATION DES CONDITIONS GÉNÉRALES DE VENTE</h3>
    <p>
        Le client reconnaît avoir pris connaissance des conditions générales de vente préalablement à la passation de sa commande.<br>
        Les conditions générales de vente applicables aux clients seront celles en vigueur au jour de la passation de la commande. COPROMETAL SA se réserve le droit de modifier à tout moment les présentes conditions générales de vente. Les conditions générales applicables au client seront celles en vigueur à la date de la commande du client.<br>
        Les présentes conditions générales de vente s’appliquent à toutes les ventes de volets battant avec ou sans précadre, portes de garages et accessoires (ci-après désignés les Produits), tels que présentés sur le site internet www.https://www.levoletfrancais.fr (ci-après désigné le Site) par la société COPROMETAL SA dont le siège social au Lieudit Mau le Lédat, 47300 Villeneuve sur Lot, immatriculée au RCS d’Agen sous le numéro 398 761 825 . Ces Produits sont vendus neuf à destination des clients.
    </p>

    <h3>2 – Acceptation des Conditions Générales de Vente</h3>
    <p>
        Le client déclare avoir pris connaissance et accepter les présentes conditions générales de vente avant la passation de sa commande. La validation de la commande vaut donc acceptation sans réserve par le client de ces conditions générales de vente. Sauf preuve contraire, les données enregistrées sur le Site à l’occasion de la commande du client constituent la preuve de l’ensemble des transactions passées par le client sur le Site.
    </p>

    <h3>3 – Produits</h3>
    <p>
        La société COPROMETAL SA informe ses Clients que les illustrations afférentes aux produits et figurant sur les pages du Site sont aussi fidèles que possible par rapport au produit en lui-même. Le client est informé que des différences peuvent exister entre les photos du produit figurant sur le Site et le produit lui-même, notamment concernant les couleurs et les esquisses. Les couleurs figurant sur le Site sont identifiées par un code RAL. En cas de doute, le client pourra, sous sa seule responsabilité, soit vérifier lui-même la couleur sur un nuancier RAL ou sur notre page dédiée soit demander à la société COPROMETAL SA de lui adresser un échantillon. Aucune commande ne sera annulée pour des différences de teinte entre les couleurs figurant sur le Site et les couleurs des peintures.<br>
        Le client s’engage à respecter scrupuleusement les prescriptions et recommandations en matière de sécurité et de fiabilité relatives à l’utilisation du produit, au montage et au stockage de ce dernier.<br>
        La société COPROMETAL SA ne sera en aucun cas responsable du mauvais montage du produit effectué par le client et de son utilisation ou de son stockage dans des conditions anormales ou dans des conditions d’usage auquel on ne peut pas légitimement s’attendre.<br>
        La société COPROMETAL indiquera à la demande du Client par mail les coordonnées de ses installateurs partenaires. Si le client ne souhaite pas procéder lui-même à l’installation du produit, il pourra prendre contact avec l’installateur partenaire de la société COPROMETAL SA de son choix.
    </p>

    <h3>4 – Devis</h3>
    <p>
        Le client peut configurer le(s) volets(s) et porte(s) de garage directement sur le Site (couleur, ouverture, dimensions, fixation, motorisation, remplissage) sans engagement.&nbsp; Après la saisie de ces informations, le client accède à un récapitulatif de sa commande lui permettant de vérifier les informations qu’il a saisies (modèle, couleur, dimension, sens d’ouverture, type de manœuvre, lieu de livraison).<br>
        Dans le cadre de la création de son compte client, le client accepte de recevoir par SMS ou par email les messages relatifs au suivi de sa commande, jusqu’à la confirmation de l’expédition du Produit commandé.<br>
        Le client a le droit de s’inscrire gratuitement sur la liste d’opposition au démarchage téléphonique (BLOCTEL). Toutefois, lors de sa confirmation de devis, le client accepte d’être contacté par COPROMETAL SA par téléphone et ce même s’il est inscrit sur la liste BLOCTEL.
    </p>

    <h3>5 – Commande</h3>
    <p>
        Le client précise sur le Site sous sa seule responsabilité les caractéristiques des Produits commandés (couleur, ouverture, dimensions, fixation, motorisation). Le client choisit le Produit sur le Site selon ses propres critères.<br>
        Le client est informé que le Produit commandé est un produit fabriqué sur mesure (adapté aux spécifications du client).<br>
        Le client, s’il a confirmé sa commande, sera appelé par le Service Client de COPROMETAL SA afin de lui apporter des informations complémentaires pouvant l’aider dans son choix. &nbsp;COPROMETAL SA ne saurait néanmoins se substituer au client dans le cadre de sa décision d’achat.<br>
        Le client pourra vérifier sur le Site le détail de sa commande et le prix total avant son envoi à COPROMETAL SA. Le client pourra également appeler ou contacter via notre chat le Service Client de COPROMETAL SA avant toute validation de sa commande.<br>
        Le client pourra valider sa commande directement sur le Site ou par voie postale :
    </p>
    <p>
        COPROMETAL SA<br>
        Dép.&nbsp;: Levoletfrancais.fr<br>
        Lieudit Mau le Lédat<br>
        47300 Villeneuve sur Lot<br>
    </p>
    <p>
        Le client pourra également valider sa commande directement sur le Site en acceptant les conditions générales de vente et en réglant l’acompte selon les modalités définies ci-après.
    </p>

    <h4>5.1 Commande par voie postale</h4>
    <p>
        Le client pourra valider sa commande en retournant par voie postale ou à l’adresse email suivante contact@levoletfrançais, le devis avec la mention « lu, approuvé, bon pour commande », les conditions générales de vente dûment signées et en réglant l’acompte selon les modalités définies ci-après.<br>
        La commande ne sera confirmée par COPROMETAL SA qu’après réception de l’acompte. &nbsp;Le client recevra par email et une confirmation de commande.<br>
        La commande ne sera considérée comme liant COPROMETAL SA qu’après débit du compte bancaire du client du montant de l’acompte ou encaissement du chèque d’acompte.<br>
        Le client ne pourra modifier sa commande qu’après validation de la commande par COPROMETAL SA.<br>
        Une commande pourra être refusée si un litige de paiement est en cours avec le client ou si ce dernier n’a pas réglé une commande en cours.<br>
        En cas d’erreur de mesure ou autres erreurs, COPROMETAL SA ne saurait être tenu responsable des conséquences en termes d’impossibilité d’installation.<br>
        Aucune modification dans la configuration du Produit ne pourra être prise en compte par COPROMETAL SA après la réception de l’e-mail confirmant la date de fabrication du Produit.
    </p>

    <h3>6 – Prix/Paiement</h3>
    <h4>6.1 Prix</h4>
    <p>
        Les prix comprennent :<br>
        Le prix du ou des produits (+ leurs accessoires si mentionnés sur la fiche produit) commandés par le client<br>
        Le montant de la Taxe sur la Valeur Ajoutée<br>
        Les frais d’emballage<br>
        La participation aux frais de préparation logistique<br>
        Les frais de transport jusqu’au lieu de livraison indiqué par le client.<br>
        Le montant global de la prestation est indiqué dans le récapitulatif de la commande.<br>
        Le prix du Produit est indiqué en euros, toutes taxes comprises, tel que figurant sur le devis accepté par le client. Le client est informé des frais de livraison lors de sa commande sur le Site.<br>
        La livraison du Produit au domicile du client n’inclut aucune prestation d’installation du Produit ni d’obligation de reprise de l’ancien produit.<br>
        Le Produit demeure la propriété de COPROMETAL SA jusqu’au complet encaissement du prix par COPROMETAL SA.
    </p>

    <h4>6.2 Paiement</h4>
    <h5>6.2.1 Paiement de l’acompte</h5>
    <p>
        La commande ne sera validée par COPROMETAL SA qu’après paiement d’un acompte de 30% du montant total TTC de la commande.<br>
        La commande est payable comptant par le client au moment de la saisie des informations par ce dernier sur le Site par carte bancaire directement en ligne via une page sécurisée de notre établissement bancaire (Banques courtois).<br>
        Les cartes bancaires acceptées sont à ce jour : CB, VISA, VISA ELECTRON, MAESTRO, E-CARTE BLEUE et MasterCard.<br>
        Pour chaque commande, une demande de débit du compte bancaire du client sera envoyée à sa banque dans un délai de 24 heures. La commande sera considérée comme définitive après confirmation de l’accord des centres de paiement bancaire.
    </p>
    <p>
        L’acompte peut être réglé : <br>
        Soit par carte bancaire : Visa, MasterCard directement sur le Site en payant par le Site de transaction sécurisé. Le débit de la carte est immédiat. <br>
        Soit par virement bancaire en précisant le numéro de commande en libellé, le RIB étant adressé au client lors de l’envoi du devis définitif. <br>
        Soit par chèque libellé à l’ordre de COPROMETAL SA adressé à COPROMETAL SA au Lieu dit Mau le Lédat, 47300 Villeneuve sur Lot. En cas de paiement par chèque bancaire, celui-ci doit être émis par une banque domiciliée en France métropolitaine. L’encaissement du chèque est réalisé une semaine avant la date de mise en fabrication du Produit. <br>
        Afin d’assurer un traitement plus simple de la commande, il est demandé au client de noter son numéro de commande au dos de son chèque. <br>
        Le client est informé que tout paiement par chèque peut être soumis à un contrôle visant à prévenir les risques liés à l’utilisation frauduleuse de chéquiers. Les informations figurant sur les chèques (bande CMC7) peuvent faire l’objet d’un traitement automatisé de données dont la finalité est de délivrer un avis sur le chèque afin de garantir ou non à Coprometal SA le paiement émis. La mise en œuvre de ce traitement passe par la consultation du FNCI (Fichier National des Chèques Irréguliers) de la Banque de France et utilise un ensemble de paramètres d’aide à la décision.
    </p>

    <h5>6.2.2 Paiement du solde</h5>
    <p>
        Le solde du prix sera réglé par le client à la réception de l’email lui confirmant la fabrication du Produit et lui adressant la facture. Ce présent solde est à régler avant le ramassage de votre commande par notre transporteur. <br>
        Le solde peut être réglé : <br>
        Soit par carte bancaire : Visa, MasterCard directement sur le Site en payant par le Site de transaction sécurisé. Le débit de la carte est immédiat. <br>
        Soit par virement bancaire en précisant le numéro de commande en libellé. <br>
        Soit par chèque libellé à l’ordre de COPROMETAL SA adressé à COPROMETAL SA au Lieu dit Mau le Lédat, 47300 Villeneuve sur Lot. En cas de paiement par chèque bancaire, celui-ci doit être émis par une banque domiciliée en France métropolitaine. L’encaissement du chèque est réalisé une semaine avant la livraison du Produit. <br>
    </p>

    <h3>7 – Livraison/Délais</h3>
    <p>
        Le client recevra un email l’informant du montant total du solde à régler dès la mise en fabrication de son projet, précisant la date d’enlèvement prévisionnel par notre transporteur.<br>
        Tout paiement du solde de la commande non effectué dans les 48 heures qui précèdent l’enlèvement par notre transporteur donnera lieu à une facturation supplémentaire de 70 euros, correspondante aux frais de livraison en contre remboursement (chèque de règlement remis au chauffeur lors de la livraison à votre domicile).<br>
        Il appartient donc à notre client de procéder au règlement dans les délais impartis.<br>
        Le client garantit qu’il est pleinement habilité à utiliser la carte de paiement pour le règlement de sa commande et que ces moyens de paiement donnent accès à des fonds suffisants pour couvrir le montant de celle-ci.<br>
        En cliquant sur le bouton « COMMANDER » pendant le processus de la commande, et après avoir vérifié le contenu de celle-ci, et le cas échéant, l’avoir modifiée, le client déclare accepter pleinement et sans réserve l’intégralité des conditions générales de vente.<br>
        Le délai moyen de livraison est de 15 jours après enlèvement dans les locaux de COPROMETAL SA, les départements d’Ile de France et de la Corse nécessitent un délai supplémentaire au cas par cas.<br>
        En tout état de cause, les délais de livraison des Produits ne pourront pas excéder douze (12) semaines à compter de la réception du solde du prix selon les modalités définies ci-dessus.<br>
        Si le Produit n’est pas livré au client à cette date et que ce retard n’est pas dû au client, le client pourra résilier le contrat, par lettre recommandée avec demande d’avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités, COPROMETAL SA d’effectuer la livraison dans un délai supplémentaire raisonnable si ce dernier ne s’est pas exécuté dans ce délai.<br>
        Les sommes versées seront alors restituées au client, sans doublement, dans le délai de quatorze (14) jours à compter de la résolution du contrat.<br>
        Les dispositions ci-dessus ne sont pas applicables en cas de survenance d’un cas de force majeure ou de cas fortuit.<br>
        Les Produits sont livrés en France métropolitaine. Le client devra se rapprocher du Service Client de COPROMETAL SA pour toutes livraisons en Corse, livraisons insulaires ou à l’étranger. Le Produit sera livré à l’adresse indiquée par le client sur le Site. En cas d’erreur de saisie, COPROMETAL SA ne saurait être tenu responsable des conséquences en termes de retard ou d’impossibilité de livraison. Tous les frais liés à la réexpédition ou à l’organisation d’une nouvelle livraison des Produits dus à une erreur de saisie du client seront à la charge exclusive du client.<br>
        Le client pourra choisir entre deux modalités de livraison décrites sur le Site dans la rubrique « Livraison ».
    </p>
    <p>
        – une livraison standard<br>
        Livraison à un chauffeur, l’assistance du client pourrait être requise, principalement par camion semi-remorque de 11 m de long. Le client devra vérifier que l’accès à son domicile est adapté et que la voie publique est autorisée au plus de 3.5t. En cas d’impossibilité de livraison à la date prévue due au gabarit du camion, Coprometal SA se réserve le droit de reporter ou d’annuler la commande. Tous les frais liés au report ou à l’annulation de la commande seront alors à la charge exclusive du client.<br>
        En cas de voie non adaptée au type de véhicule utilisé par notre transporteur des frais supplémentaires seraient alors facturés au client puisqu’il serait alors indispensable de procéder à la location d’un véhicule adapté.<br>
        Une demi-journée de livraison est planifiée par téléphone par notre transporteur partenaire au minimum 24h avant, pour une livraison comprise du lundi au vendredi entre 8h00 et 17h00.<br>
        Le Produit sera considéré comme livré lors de la première présentation à l’adresse indiquée par le client sur le Site. &nbsp;En cas d’absence du client, le Produit sera présenté une deuxième fois au domicile du client sur rendez-vous avec le client. Cette seconde présentation du Produit sera facturée au client.<br>
        Le Produit sera déposé au seuil de l’habitation du client. Il sera demandé au client une assistance lors du déchargement (Attention aux grandes palettes qui peuvent peser jusqu’à 200kg)<br>
        La livraison standard est gratuite à compter de 2000 € TTC d’achat.<br>
        Le délai de livraison maximal est de 40 jours ouvrés à compter de la commande du produit, sauf stipulation particulière indiquée au client avant la validation définitive de la commande. Dans ce cas, la société Coprometal SA indiquera au client une fourchette estimative de date de livraison.
    </p>

    <p>
        – une livraison Premium<br>
        Livraison à 2 chauffeurs en camion porteur de 9 mètres de long (taille réduite par rapport au semi-remorque). Le client devra vérifier que l’accès à son domicile est adapté et que la voie publique est autorisée au plus de 3.5t. En cas d’impossibilité de livraison à la date prévue due au gabarit du camion, Coprometal SA se réserve le droit de reporter ou d’annuler la commande. Tous les frais liés au report ou à l’annulation de la commande seront alors à la charge exclusive du client.<br>
        En cas de voie non adaptée au type de véhicule utilisé par notre transporteur des frais supplémentaires seraient alors facturés au client puisqu’il serait alors indispensable de procéder à la location d’un véhicule adapté.<br>
        La livraison est planifiée avec le transporteur par téléphone en fonction des disponibilités du client (Cette prise de rendez-vous peut rallonger le délai de livraison, compte tenu des plannings respectifs à coordonner).<br>
        Le Produit est déchargé et déposé à l’endroit choisi par le client, par le chauffeur et son collègue sans intervention du client.<br>
        La livraison Premium est facturée au client 75 € TTC quelle que soit la valeur du Produit, en plus de la livraison normale.<br>
        Le Produit sera considéré comme livré lors de la première présentation à l’adresse indiquée par le client sur le Site. &nbsp;En cas d’absence du client, le Produit sera présenté une deuxième fois au domicile du client sur rendez-vous avec le client. Cette seconde présentation du Produit sera facturée au client.<br>
        Pour toute livraison, tout tiers réceptionnant le Produit au domicile du client à la date et à l’heure de rendez-vous convenues avec le transporteur sera considéré comme habilité à réceptionner le Produit.<br>
        Des frais de stockage seront facturés par COPROMETAL SA au client à hauteur de 60 € TTC/ mois si le Produit n’est pas livré dans le mois suivant la date d’expédition du Produit en raison de l’indisponibilité du client. Tout mois commencé sera dû par le client.<br>
        Le transfert des risques interviendra dès la signature du bon de livraison par le client ou le tiers désigné par le client.<br>
        Les modalités de livraison choisies par le client seront confirmées au client à la réception de l’acompte et du solde du prix selon les modalités définies ci-dessus.
    </p>

    <h3>8 – Vérification des colis à la livraison</h3>
    <p>
        Le client doit vérifier avec soin dès la livraison du Produit tous dommages apparents. En cas de dommages apparents (par exemple : colis endommagé, déjà ouvert, colis manquants…), le client devra refuser le Produit. Le client est informé que les réserves doivent être faites immédiatement auprès du transporteur avec précision directement sur le bon de livraison, toute réserve générale du type « sous réserve de déballage, emballage intact» n’ayant aucune valeur. Les réserves doivent être précises et décrire le ou les dommage(s) subi(s) par le Produit. Si le transporteur refuse d’assister au déballage du Produit, il faut préciser sur le bon de livraison « le livreur a refusé d’assister au déballage du Produit ». Le client est informé que l’absence de réserves écrites sur le bon de livraison vaut présomption de livraison conforme du Produit.<br>
        Coprometal SA devra être informé par le client du défaut de conformité par courriel envoyé via le lien contact@ levoletfrancais.fr dans les quarante-huit (48) heures du refus de livraison du Produit.<br>
        Le client ne pourra pas invoquer à l’encontre de Coprometal SA un défaut apparent du Produit ou un défaut qu’il connaissait ou ne pouvait ignorer lorsqu’il a acquis le Produit.<br>
        L’information préalable du Service Client de Coprometal SA est nécessaire avant tout retour de Produit non conforme et/ou défectueux.
    </p>

    <h3>9 – Non-conformité du Produit à la commande du client</h3>
    <h4>9.1 Non-conformité du Produit à la commande du client</h4>
    <p>
        Si le Produit livré au client ne correspond pas au Produit commandé, le client devra refuser la livraison en précisant sur le bon de livraison les causes du refus, et informer Coprometal SA de la non-conformité du Produit à sa commande. Coprometal SA devra être informé par le client du défaut de conformité par courriel envoyé à l’adresse suivante contact@levoletfrancais.fr dans les 48 heures du refus de livraison du Produit. Le client devra préciser dans ce courriel les causes du refus de livraison. Coprometal SA s’engage à procéder à son choix au remplacement du Produit ou à son remboursement, sans frais pour le client. Le remboursement sera effectué dans un délai maximum de 14 jours à compter du retour du Produit non conforme par chèque adressé au client à l’adresse figurant sur le bon de commande ou par crédit du compte du client.
    </p>

    <h4>9.2 Livraison d’un Produit endommagé</h4>
    <p>
        Si le Produit est endommagé lors de sa livraison, le client devra refuser la livraison en formulant avec précision sur le bon de livraison les causes du refus (description des dommages constatés). Le client devra informer Coprometal SA du refus de livraison en adressant un courriel à l’adresse suivante contact@levoletfrancais.fr. Ce courriel doit être adressé à Coprometal SA dans les 48 heures du refus de livraison du Produit. Le client devra préciser dans ce courriel les causes du refus de livraison. Coprometal SA s’engage alors à procéder à son choix au remplacement du Produit ou à son remboursement, sans frais pour le client. <br>
        Le client est informé que lorsque le Produit est livré par transporteur, l’engagement de COPROMETAL SA de remplacement et/ou de remboursement est conditionné au respect de la procédure de l’article 8 ci-dessus, à savoir la formulation de réserves écrites sur le bon de livraison du transporteur. Le remboursement sera effectué dans un délai maximum de 14 jours à compter du retour du Produit endommagé par chèque adressé au client à l’adresse figurant sur le bon de commande ou par crédit du compte du client. Tout autre défaut du Produit sera couvert par la garantie commerciale et/ou par la garantie légale, telles que précisées dans les articles 10 et 11 ci-dessous.
    </p>

    <h3>10 – Garantie commerciale</h3>
    <p>
        Le Produit acheté sur le Site est couvert par la garantie commerciale de COPROMETAL SA suivante : <br>
    </p><ul>
    <li>Moteur : 30 mois pièces, main d’œuvre exclue</li>
    <li>Structure &amp; Peinture : 10 ans</li>
    <li>Accessoires quincaillerie (poignée, serrure, roulettes…) : &nbsp;2 ans</li>
</ul>
    La date de facture sera le point de départ de la garantie commerciale de COPROMETAL SA. Le client devra conserver la facture afin de se prévaloir de la garantie commerciale de Coprometal SA.<br>
    COPROMETAL SA ne garantit pas l’éclat original de la teinte des produits.<br>
    COPROMETAL SA exclut toute garantie sur la peinture pour tout Produit installé en front de mer à moins d’un kilomètre du littoral.<br>
    Ne seront pas couverts par la garantie commerciale de COPROMETAL SA :<br>
    – les dommages engageant la responsabilité d’un tiers ou résultant d’une faute intentionnelle ou dolosive,<br>
    – les dommages résultant d’utilisation d’énergie, d’emploi ou d’installation non conformes aux prescriptions de COPROMETAL SA<br>
    – Les dommages résultant d’une intervention et/ou réparation aura été effectuée sur le Produit par des personnes autres que celles agréées par le Site.<br>
    Le client est parfaitement informé que le Produit est vendu pour un usage domestique, à l’exclusion de tout usage professionnel. COPROMETAL SA exclue toute responsabilité pour tous dommages directs ou indirects liés à un usage professionnel du Produit.<br>
    En tout état de cause, le client, sauf s’il est professionnel et/ou commerçant, bénéficie également des dispositions de la garantie légale de conformité et de la garantie légale des vices cachés.
    <p></p>

    <h3>11 – Garantie légale</h3>
    <p>
        Nonobstant les dispositions relatives à la garantie commerciale ci-dessus, Coprometal SA applique en tout état de cause les dispositions de la garantie légale de conformité du Produit au contrat dans les conditions de l’article L217-4 et suivants du code de la consommation.<br>
        Le client bénéficie d’un délai de deux (2) ans à compter delà délivrance du Produit pour agir.<br>
        Le client peut choisir entre la réparation ou le remplacement du Produit, sous réserve des conditions de coût prévues par l’article L217-9 du code de la consommation.<br>
        Le client est dispensé de rapporter la preuve de l’existence du défaut de conformité du Produit durant les vingt-quatre mois suivant la délivrance du Produit.<br>
        Article L.217-4 du code de la consommation : ” Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.<br>
        Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisé sous sa responsabilité”<br>
        Article L. 217-5 du code de la consommation : ” Le bien est conforme au contrat :<br>
        1° s’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :<br>
    </p><ul>
    <li>s’il correspond à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle</li>
    <li>s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage.</li>
</ul>
    2° Ou s’il présente les caractéristiques définies d’un commun accord par les parties, ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.”<br>
    Article L217-9 du code de la consommation : « En cas de défaut de conformité, l’acheteur choisit entre la réparation et le remplacement du bien ». Toutefois, le vendeur peut ne pas procéder selon le choix de l’acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l’autre modalité, compte tenu de la valeur du bien ou de l’importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l’acheteur.<br>
    Article L. 217-12 du code de la consommation : “L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.<br>
    Le client peut également décider de mettre en œuvre la garantie contre les défauts cachés au sens de l’article 1641 et suivants du code civil. Dans cette hypothèse, le client peut choisir entre la résolution de la vente ou une réduction du prix conformément à l’article 1644 du code civil.<br>
    Article 1641 du code civil : ” Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus”.<br>
    Article 1644 du code civil : « l’acheteur a le choix de rendre la chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix, telle qu’elle sera arbitrée par experts.<br>
    Article 1648 alinéa 1 du code civil : ” L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice.
    <p></p>

    <h3>12 -Coprometal SA&nbsp;: droit de rétractation</h3>
    <p>
        Le Produit commandé sur le Site est un produit sur mesure, fabriqué selon les spécifications du client. En conséquence, et conformément aux dispositions de l’article L221-28 alinéa 3 du Code de la Consommation, le client ne peut pas exercer de droit de rétractation auprès de COPROMETAL SA.
    </p>

    <h3>13 – Gestion des mots de passe</h3>
    <p>
        COPROMETAL SA crée au client un mot de passe pour accéder à son compte client. Ce mot de passe est personnel et confidentiel. Le client est seul responsable de l’utilisation et de la confidentialité de ce mot de passe. COPROMETAL SA exclut toute responsabilité en cas d’utilisation frauduleuse de ce mot de passe.<br>
        Le Site fait l’objet d’un système de sécurisation qui utilise le protocole de sécurisation SSL (Secure Socket Layer) pour crypter les informations bancaires du client. Les informations relatives au système de sécurisation sont décrites dans la rubrique « Informations Légales » du Site. Tout impayé au motif d’une utilisation frauduleuse d’une carte bancaire entrainera l’inscription des coordonnées en rapport avec la commande au fichier incident de paiement.<br>
        Par souci de limiter les fraudes, Coprometal SA peut être amené à demander au client tous les justificatifs nécessaires à l’exécution de la commande (pièces d’identité, justificatifs de domicile…). Ces demandes seront effectuées par courriel ou téléphone. Le refus par le client de fournir ces documents entrainera l’annulation de la commande. Le délai de transmission à Coprometal SA des pièces sollicitées peut décaler d’autant la livraison du Produit commandé.
    </p>

    <h3>14 – Propriété intellectuelle</h3>
    <p>
        Tous les textes, commentaires, visuels 3D, ouvrages, illustrations, œuvres et images reproduits ou représentés sur le Site sont strictement réservés à Coprometal SA au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. Toute reproduction ou représentation totale ou partielle du Site ou de tout ou partie des éléments se trouvant sur le Site est strictement interdite.
    </p>

    <h3>15 – Responsabilité</h3>
    <p>
        Les Produits proposés sont conformes à la législation française en vigueur et aux normes applicables en France. La responsabilité de COPROMETAL SA ne saurait être engagée en cas d’importation d’un Produit de COPROMETAL SA dans un pays tiers. Il appartient au client de vérifier auprès des autorités locales les possibilités d’importation ou d’utilisation du Produit acheté auprès de COPROMETAL SA et de conformer aux réglementations applicables.<br>
        En cas de force majeure, COPROMETAL SA ne saurait être tenue responsable en cas d’inexécution de ses obligations en cas de force majeure.
    </p>

    <h3>16 – Service Client</h3>
    <p>
        Pour toute information ou question relative à un Produit avant commande ou toute question relative à l’exécution d’une commande ou à la garantie, le Service Client de COPROMETAL SA est à la disposition du client :<br>
    </p><ul>
    <li>par courriel via le l’adresse contact@levoletfrancais.fr</li>
    <li>par téléphone : 05 53 70 70 70 (prix d’un appel local) – ouvert du Lundi au vendredi de 08h30 à 12h30 et 13h30 à 18h30.</li>
</ul>
    <p></p>

    <h3>17 – Protection des données à caractère personnel</h3>
    <p>
        Les données en rapport avec la commande du client collectées lors de la première commande sur le Site (nom, prénom, adresse, téléphone, e-mail, &nbsp;mot de passe,) font l’objet d’un traitement automatisé de données à caractère personnel.<br>
        Le caractère obligatoire ou facultatif des données est précisé au client au moment de la collecte par une astérisque. Certaines données sont obligatoires car nécessaires à la gestion de la commande. Le défaut de réponse pourra entrainer l’annulation de la commande.<br>
        COPROMETAL SA dont les coordonnées figurent ci-dessus est responsable du traitement de données.<br>
        Ce traitement de données à caractère personnel a pour finalité :<br>
    </p><ul>
    <li>la gestion et le suivi des commandes du client, le suivi des livraisons et des facturations, le suivi de la relation client, y compris pour la mise en œuvre de la garantie, la lutte contre la fraude aux moyens de paiement,</li>
    <li> l’envoi par COPROMETAL SA d’informations sur des produits et/ou services analogues.</li>
</ul>
    Les données sont destinées au Site et peuvent être transmises uniquement à des sociétés tierces chargées du suivi des commandes, de la livraison, et/ou de la gestion des moyens de paiement.<br>
    Le client pourra s’opposer à tout moment sans frais à tout envoi d’offres commerciales par COPROMETAL SA en écrivant à contact@levoletfrancais.fr .<br>
    Les données seront conservées par COPROMETAL SA 5 ans après la fin de la durée de garantie du Produit.<br>
    Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée par le Règlement UE 2016/679 du 27 avril 2016, le client dispose d’un droit d’accès, de rectification, de limitation, d’opposition, d’effacement et de portabilité sur les données à caractère personnel le concernant dans les conditions posées par les lois et règlements en vigueur en France. Pour exercer ce droit, le client doit écrire par courriel à l’adresse suivante contact@levoletfrancais.fr en indiquant son nom, prénom, e-mail, adresse et si possible la référence client.<br>
    Le client devra détailler sa requête. Une réponse lui sera alors adressée dans un délai d’un (1) mois, éventuellement prolongé de deux (2) mois suivant la réception de la demande.<br>
    Le client pourra saisir en cas de réclamation la Commission Informatique et Libertés (CNIL) sur son site internet www.cnil.fr ou par voie postale 3 place de Fontenoy, 75334 Paris Cedex 07.
    <p></p>

    <h3>18 &nbsp;– &nbsp;Droit applicable – Litiges</h3>
    <p>
        Le présent contrat est soumis à la loi française. <br>
        En cas de contestation, le client pourra recourir à la procédure de médiation conventionnelle ou à tout autre mode alternatif de règlement des différends dans les conditions de l’article 1528 et suivants du code de procédure civile. <br>
        Concernant la médiation et conformément à l’article L612-1 du code de la consommation, le client peut gratuitement recourir au service de médiation, pour toutes les réclamations liées à un achat survenu au cours des 12 derniers mois et ayant déjà fait l’objet d’un recours auprès du service clientèle de COPROMETAL SA. <br>
        En cas de litige avec des professionnels et/ou commerçants, les tribunaux d’Agen seront seuls compétents, y compris en cas de procédure en référé et d’appel en garantie et nonobstant la pluralité de défendeurs.
    </p>
</div>