<div class="columns productsCategory">
    <div class="column col-12 my-2 py-2">
        <div class="columns">
            <div class="column mb-2">
                <h1>Nos articles<sup><img class="pr-2 mr-2"src="assets/images/pastillenoir.png" alt="" style="width: 45px;"></sup></h1>
                <div class="h5">Retrouvez l'intégralité de nos produits au détail...</div>
            </div>
        </div>
    </div>

    <div class="column col-10 m-auto col-lg-12">
        <div data-cat="quincaillerie" data-count="-1" class="categoriesElement columns m-2 justify-around"></div>
    </div>
</div>