<div class="col-11 m-auto">

    <h1>Mentions Légales</h1>

    <h2>Confidentialité</h2>

    <p>
        Le site https://www.cloturesfrancaises.fr n’enregistre pas d’informations personnelles permettant
        l’identification, à l’exception des formulaires que l’utilisateur est libre de remplir. Ces informations ne
        seront pas utilisées sans votre accord, nous les utiliserons seulement pour vous adresser des courriers, des
        brochures, des devis ou vous contacter.
    </p>

    <p>
        Les informations recueillies sur les sites bénéficient de la protection de la loi « Informatique et Libertés »
        n° 78-17 du 06 janvier 1978. Elles bénéficient d’un droit d’accès, de rectification, d’opposition à
        communication et de suppression sur simple demande par email à contact@levoletfrancais.fr
    </p>

    <p>
        Le site https://www.cloturesfrancaises.fr pourra procéder à des analyses statistiques sans que celles-ci soient
        nominatives et pourra en informer des tiers (organismes d’évaluation de fréquentation) sous une forme résumée et
        non nominative.
    </p>

    <h2>Liens hypertexte</h2>
    <p>
        Le site https://www.cloturesrancaises.fr ne contrôle pas les sites en connexion avec le sien, et ne saurait donc
        être responsable de leur contenu. Les risques liés à l’utilisation de ces sites incombent pleinement à
        l’utilisateur. Il se conformera à leurs conditions d’utilisation.
    </p>

    <h2>Collecte de Cookies</h2>
    <p>
        Nos serveurs ne collectent aucunes informations personnelles sur les visiteurs du site.
    </p>
    <p>
        Les données de trafic et les fichiers de cookies implantés sur votre ordinateur ont pour seule finalité de
        permettre d’analyser la fréquentation des différentes pages du site https://www.cloturesrancaises.fr afin d’en
        améliorer le contenu. Ces données sont conservées 12 mois.
    </p>
    <p>
        Les données relatives à la navigation des visiteurs ne sont pas exploitées nominativement. Il s’agit de
        statistiques permettant de connaître le trafic de chacune des pages, les parcours de navigation, le taux de
        consultations par jour de la semaine et par heure de la journée ainsi que les différentes erreurs possibles côté
        clients ou serveur.
    </p>
    <p>
        Pour plus d’informations, vous pouvez consulter les conditions générales de Google Analytics.
    </p>

    <p>
        Par le biais de votre navigateur, vous avez la possibilité de bloquer l’implantation de cookies sur votre
        ordinateur :
    </p>
    <ul>
        <li>Mozilla Firefox : https://support.mozilla.org/fr/kb/cookies-informations-sites-enregistrent</li>
        <li>Google Chrome : https://support.google.com/chrome/answer/95647?hl=fr</li>
        <li>Safari : https://support.apple.com/kb/ph21411?locale=fr_FR</li>
        <li>Internet Explorer :
            https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
        </li>
        <li>Opera : http://help.opera.com/Windows/10.20/fr/cookies.html</li>
    </ul>

    <p></p>

    <h2>Données personnelles</h2>
    <p>
        Nous ne collectons, dans aucun cas, l’adresse e-mail des visiteurs sans que ceux-ci la communiquent de manière
        pleine et entière.
    </p>
    <p>
        En complétant le formulaire d'inscription, le visiteur donne son accord afin que les données à caractère
        personnel soient traitées.
    </p>
    <p>
        Les données saisies et envoyées via les formulaires ont pour finalités la prise de contact avec les personnes
        ayant complétées un formulaire (achat en ligne, envoi de devis, réponses mails, demandes d’informations, …) ; la
        gestion des prospects et clients générale avec les personnes intéressées par nos services ; le suivi relationnel
        avec les personnes ayant proposé leurs candidatures dans le cadre d’une demande de recrutement.
    </p>
    <p>
        Dans tous les cas, vous pouvez refuser de fournir vos données personnelles.
    </p>
    <p>
        Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements
        sur l’entreprise ou de procéder à un achat en ligne.
    </p>
    <p>
        Vos informations ne sont pas stockées à des fins commerciales, ni cédées, ni communiquées à des tiers.
    </p>
    <p>
        Droit d’accès, de rectification ou suppression des données personnelles
    </p>
    <p>
        Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, ainsi qu’au Règlement Européen
        Général sur la Protection des Données (RGPD), vous disposez des droits d’accès, de rectification et de
        suppression des données personnelles vous concernant. Vous pouvez exercer ce droit en utilisant le formulaire de
        contact du site ou sur simple demande par email à contact@levoletfrancais.fr ou par adresse postale :Lieu dit
        “Mau”, Le Lédat, 47300 Le Ledat
    </p>

    <h2>Éditeur</h2>

    <p>
        Affaire: COPROMETAL SA <br>
        RCS :39876182500056 <br>
        Code APE / NAF :4669B <br>
        Convention : Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers
    </p>
    <p>
        Monsieur A. Chanié <br>
        E-mail :infos@coprometal.com <br>
        RCS : 9876182500056 <br>
        Siège social : COPROMETAL SA, LD MAU 47300 LEDAT <br>
        N° de téléphone : 05 53 70 70 70
    </p>

    <h2>Directeur de la publication</h2>
    <p>
        A. Chanié
    </p>

    <h2>Hébergement</h2>
    <p>
        OVH <br>
        SAS au capital de 10 069 020 € <br>
        RCS Lille Métropole 424 761 419 00045 <br>
        Code APE 2620Z <br>
        N° TVA : FR 22 424 761 419 <br>
        Siège social : 2 rue Kellermann – 59100 Roubaix – France
    </p>
</div>