<div class="my-2 py-2">
    <h1>Qui sommes nous ?</h1>
    <div class="columns col-10 m-auto">
        <div class="column col-mx-auto my-auto"><img src="assets/images/aucune-image.png"></div>
        <div class="divider-vert"></div>
        <div class="column col-mx-auto">
            <div class="h4 pb-2">Un groupe fondé il y a 25 ans..</div>
            <div class="py-2">Fondée en 1994, L’entreprise COPROMETAL SA équipe, protège et occulte vos propriétés
                à travers
                notre gamme de clôtures et kits d’occultation.
            </div>

            <div class="py-2"> Propulsée par 25 années d’expériences sur ce marché, COPROMETAL SA saura répondre à
                vos
                questions, mais aussi à vos exigences qualitatives.
            </div>

            <div class="py-2"> Incontournable sur le marché de la clôture rigide avec notre couverture nationale,
                nous vous
                proposons une
                offre complète adaptée à votre budget. Que vous soyez professionnel ou particulier, nos experts sont là
                pour
                répondre à l’ensemble de vos interrogations afin de vous apporter les solutions adaptées à votre projet
                de
                clôture en panneaux rigides.
            </div>

            <div class="py-2"> Un service client ultra rapide & disponible
                Besoin d’un conseil ? Nos équipes sont à votre disposition pour la moindre question, par téléphone au 05
                53
                70 70 70, par mail à l’adresse suivante <a class="link " href="mailto:commercial@cloturesfrancaises.fr">commercial@cloturesfrancaises.fr</a> ou via notre chat intégré.
            </div>

        </div>
    </div>
</div>