<div id="livraison" class="container col-11 m-auto py-2">

    <h1>Notre service de livraison</h1>
    <div class="edito mb-2">
        La société Clôtures Françaises livre partout en France*, le prix de la livraison est définit en fonction du poids de votre commande.
    </div>

    <div class="table-responsive-lg">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">En direct<br> <span>Retrait direct dans notre magasin</span></th>
                <th scope="col">Premium <br> <span>(3/4 semaines de délai selon disponibilités)</span></th>
                <th scope="col">Professionnels <br> <span>(3/4 semaines à quai ou par un chariot élévateur)</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">&lt; 2000 € TTC</th>
                <td class="free">Gratuit</td>
                <td>350.00 € TTC**</td>
                <td>Au réel sur devis</td>
            </tr>
            <tr>
                <th scope="row">&lt; 5000 € TTC</th>
                <td class="free">Gratuit</td>
                <td>280.00 € TTC**</td>
                <td>Au réel sur devis</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">&gt; 5000 € TTC</th>
                <td class="free">Gratuit</td>
                <td class="free">Offert**</td>
                <td>Au réel sur devis</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="edito mt-2 mb-2">N'hésitez pas à consulter nos Conditions Générales de Ventes en cliquant sur <a href="cgv" rel="nofollow" target="_blank">ce lien</a>, si vous avez des questions nous sommes à votre disposition, par email <a href="mailto:commercial@greencloture.fr">commercial@greencloture.fr</a>, par téléphone <a href="tel:+33553707070">(+33)5 53 70 70 70</a>, ou par Tchat via l'icone en bas à gauche de votre écran.</div>
    <div class="alert alert-info" role="alert">
        Toutes les livraisons se font par rendez-vous pris par Email/SMS avec le transporteur. N'oubliez par de contrôler l’état et les quantités de la commande livrée et de vérifier le contenu du colis devant le transporteur et avant de signer le bon de livraison.
    </div>
    <div class="legend">
        *Hors DOMTOM et pour les clients en Corse, une majoration sera appliquée, pour en savoir plus contactez notre service client <a href="mailto:commercial@greencloture.fr">commercial@greencloture.fr</a>.<br>
        **Supplément de 3.50€ TTC par plaque de soubassement.<br>
    </div>
</div>