$dnone: none;
$mycolor: #162B47;
$red: #9E0716;
$bgcolor: #eeeeee;
$white: #FFFFFF;
$none: none;
$btopcolor: 0.05rem solid #223a46;
$bxshadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.1);

@font-face { 	font-family: "questrial"; 	src: url('assets/font/Questrial-Regular.ttf'); }
//style des liens
a {
  color: $mycolor;
  position: relative;

  &:focus,
  &:active,
  &:hover,
  &:visited,
  &.active {
    color: $mycolor;
    text-decoration: underline;
  }

}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: transparent;
}

.link:after {
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: $red;
}

//style radio scellement
.scellement {
  display: $dnone;
}

//style textarea
.textarea {
  resize: $none;
}

//style footer
.footer {
  background: $bgcolor !important;
}
.bandeau{
  background: white;
  color: $bgcolor

}
#mapid { height: 382px; }
//style menu
.mymenu {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.box-shadow{
   box-shadow: $bxshadow;
 }

//style divers
body {
  color: $mycolor;
  font-family: "questrial";
}

.unstyled {
  list-style: $none;
}

.divider {
  border-top: $btopcolor;
}

.divider-vert {
  &::before {
    border-left: $btopcolor;
  }
}

//style bouton ajout et en savoir plus
.btn {
  &.btn-primary {
    background: $mycolor;

    &:focus,
    &:hover,
    &:active,
    &.active {
      background: $red;
      color: $white;
      text-decoration: underline $red;
      border: 1px solid $mycolor;
    }
  }

  // Button Link
  &.btn-link {
    color: $mycolor;

    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $red;

    }
  }
}

.form-input {
  padding: 0 0.4rem;

}

